@model List<DangKyHocPhan1.Models.HocPhan>

@{
    ViewBag.Title = "Danh sách học phần";
}

<h2>Danh sách học phần</h2>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã học phần
            </th>
            <th>
                Tên học phần
            </th>
            <th>
                Số tín chỉ
            </th>
            <th>
                Số lượng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoTinChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaHP">Sửa</a> |
                    <a asp-action="Detail" asp-route-id="@item.MaHP">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaHP">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>